:root {
    --deep-navy: #02264C;
    --deep-blue: #021D54;
    --gray-color: #9E9E9E;
    --gray-light: #D9D9D9;
}

body {
    background: gray !important;
}

body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
    padding: 0;
    color: #181818;
    overflow-x: hidden;
    position: relative;
    text-align: left;
}

html[lang="ar"] body,
html[lang="ar"] p {
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

p,
ul,
ol {
    margin: 0;
}

.page-wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
    min-width: 100% !important;
}

header {
    padding: 32px 60px 0px;
}



@media (max-width:768px) {
    header {
        padding: 32px 20px;
    }

    .top-nav {
        justify-content: space-between;
        gap: 10px;
    }

    .headline--large {
        text-wrap: wrap !important;
        line-height: 1.2;
    }

    .mega-menu-max_mega_menu_2-mobile-open .header-menus {
        position: fixed;
        background: #157633;
        width: 100%;
        margin: 0px;
        top: 0px;
        height: 100%;
        left: 0px;
        padding: 85px 20px 10px;
        flex-direction: column;
        display: flex;
    }

}


@media (min-width: 530px) {
    .p-top-large {
        padding-top: 3.5rem;
    }

    .p-bottom-large {
        padding-bottom: 3.5rem;
    }
}

.m-0 {
    margin: 0;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.position-relative {
    position: relative;
}

.push-right {
    margin-right: 20px;
}

.container:before,
.container:after,
.group:before,
.group:after {
    content: " ";
    display: table;
}

.container:after,
.group:after {
    clear: both;
}

.hide {
    display: none;
}

body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
    padding: 0;
    color: #181818;
    overflow-x: hidden;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

p,
ul,
ol {
    margin: 0;
}

body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
    padding: 0;
}

.bg-green {
    background-color: #157633;
}

.bg-white {
    background-color: #fff;
}

.bg-image {
    background-size: cover;
}

.bg-blue {
    background-color: #02264c;
}

.our-val {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #06122a;
    max-width: 430px;
}

.our-val-img {
    padding: 2px;
    background-color: #157633;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    height: 73px;
    min-width: 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.our-val-img img {
    width: 50px;
    height: 50px;
}

.our-val-info b {
    font-size: 22px;
}

.our-val-info p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.our-opr {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.our-opr-img img {
    width: 100px;
}

.our-opr-info b {
    font-size: 28px;
    font-weight: 600;
}

.our-opr-info b img {
    vertical-align: middle;
    margin-left: 10px;
}

.our-opr-info p {
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 0;
}

.ssb-block {
    border: 1px solid #000;
    border-radius: 78.92px;
    border-bottom-right-radius: 0;
    padding: 40px 20px 20px;
    text-align: center;
    max-width: 320px;
    box-sizing: border-box;
    color: #fff;
}

.ssb-block h6 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ssb-block p {
    font-size: 16px;
}

.our-values-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 equal columns */
    grid-template-rows: repeat(3, 1fr);
    /* 3 equal rows */
    gap: 10px;
    /* Gap between grid items */
    height: 100vh;
    /* Full height */
}

.our-value-card {
    gap: 14px;
}

.awards-cards {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px;
}

.awards-card {
    width: 18%;
    height: 336px;
    border-radius: 49px 49px 0px 49px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #fff;
    border: 1px solid #bec0c3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 530px) {
    .awards-card {
        width: 100%;
    }
}

.awards-certificates {
    background-size: auto 100% !important;
    background-position: left;
    background-repeat: no-repeat;
}

.main-container-padding,
.awards-certificates,
.supply-chain,
.our-operation-content,
.our-values,
.operations-inner-section,
.footer-bg {
    padding: 5% 4%;
}

.our-values {
    padding-right: 0px;
}

.our-values .values-bg {
    padding-left: 4%;
}

.site-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    top: 0;
    background-color: transparent;
    background-image: none !important;
    padding: 32px 5%;
}

.wp-block-search.wp-block-search__button-only .wp-block-search__button {
    background: transparent;
    padding: 0px;
}

.wp-block-search.wp-block-search__button-only .wp-block-search__button:hover {
    border: unset !important;
}

.wp-block-search__button svg {
    --search-size: 35px;
    height: var(--search-size);
    min-height: var(--search-size);
    min-width: var(--search-size);
    width: var(--search-size);
}

.wp-block-polylang-language-switcher {
    list-style: none;
}

.wp-block-polylang-language-switcher a {
    text-decoration: none;
}

.wp-block-polylang-language-switcher img {
    display: none;
}

.wp-block-polylang-language-switcher a[lang="ar"]::after {
    content: "ع";
    color: white;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    text-align: left;
    border: 2px solid #fff;
    display: block;
    width: 32.9px;
    border-radius: 50%;
    height: 32.76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wp-block-polylang-language-switcher a[lang="en-US"]::after {
    content: "En";
    color: white;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    text-align: left;
    border: 2px solid #fff;
    display: block;
    width: 32.9px;
    border-radius: 50%;
    height: 32.76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide,
.swiper-slide .wp-block-cover__inner-container {
    padding-left: 0px;
}

.swiper-slide .wp-block-group {
    margin-left: 0px !important;
}

.operation-card-img {
    min-width: 107px;
}

.footer-bg {
    background-position: center right;
    background-repeat: no-repeat;
}

.icon-btn {
    border: 1.5px solid #fff;
    border-radius: 9px;
}

.icon-btn a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.home-slider-content {
    width: 990px !important;
}

/* Slider Code */

@media (max-width:768px) {
    .swiper-slide>div {
        width: 100% !important;
    }

    .swiper-slide .wp-block-group {
        margin-left: 0px !important;
        padding: 0px;
        padding: 20px 30px !important;
        border-radius: 12px !important;
    }
}



/* .swiper {
    height: 94vh !important;
} */

.side-circles {
    position: fixed;
    right: 50px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 12px;
    z-index: 999;
    top: 50%;
}

.side-circle {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    outline: 3px solid #d9d9d9;
    border-radius: 50%;
}


.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: 1.19rem;
    padding: 12px 24px;
    border: none;
    outline: none;
}

.btn--small {
    font-size: 0.88rem;
    padding: 7px 13px;
    font-weight: 300;
}

.btn--with-photo {
    padding-left: 40px;
    position: relative;
}

.btn--dark-blue {
    background-color: var(--deep-navy);
}

.btn--dark-blue:hover {
    background: linear-gradient(#02264c, #001c3b);
}

.btn--dark-orange {
    background-color: #f95738;
}

.btn--dark-orange:hover {
    background: linear-gradient(#f95738, #c62000);
}

.btn--green {
    background-color: #157633;
    color: white;
}

.btn--green:hover {
    background: linear-gradient(#1b9942, #157633);
}

.btn--yellow {
    background-color: #f4d35e;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
}

.btn--yellow:hover {
    background: linear-gradient(#f4d35e, #f0bb00);
}

.btn--beige {
    background-color: #faf0ca;
    color: #173f58;
}

.btn--beige:hover {
    background-color: #f4d35e;
}

.btn--gray {
    background-color: #222;
}

.btn--white {
    background-color: #fff;
    color: #173f58;
}

.btn--white:hover {
    background-color: #ddd;
}

.btn--large {
    font-size: 1.3rem;
    padding: 16px 34px;
    border-radius: 7px;
}

@media (min-width: 530px) {
    .btn--large {
        font-size: 1.9rem;
    }
}

.btn--inactive {
    background-color: transparent;
    cursor: default;
    color: #333;
}

.border--white {
    border: 1px solid white;
}

.read-more-line {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    width: 100%;
}

.read-more-line::after {
    content: '';
    display: block;
    height: 0.8px;
    width: 100%;
    min-width: 15px;
    background-color: #c8c4c4;
}

.read-more-line::before {
    content: '';
    display: block;
    height: 28px;
    width: 28px;
    border: 1px solid #c8c4c4;
    border-radius: 50%;
    order: 3;
    flex: 0 0 auto;
    margin-left: -15px;
}

.read-more-line .btn {
    font-size: 15px;
    font-family: inherit;
    padding: 10px;
    border-radius: 11px;
    color: #fff;
    min-width: 150px;
    cursor: pointer;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}

.headline {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
}

.headline--large {
    margin: 0px !important;
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 300;
    line-height: 86px;
    text-wrap: nowrap;
}



@media (min-width: 530px) {
    .headline--large {
        font-size: 58px;
    }
}

.headline--large-medium {
    font-size: 5rem;
}

.headline--medium {
    font-size: 26px;
}

@media (min-width: 530px) {
    .headline--medium {
        font-size: 28px;
    }
}

.headline--small-plus {
    font-family: "Roboto", sans-serif;
    font-size: 1.16px;
    font-weight: 400;
}

.headline--small {
    font-size: 16px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: center;
}

@media (min-width: 530px) {
    .headline--small {
        font-size: 20px;
    }
}

.headline--smaller {
    font-size: 1.5rem;
}

.headline--tiny {
    font-family: "Roboto", sans-serif;
    font-size: 1.3875rem;
}

.text--white {
    color: #fff !important;
}

.text--darker-blue {
    color: #06122a;
}

.text--dark-blue {
    color: #021d54;
}

.text--black {
    color: #000;
}

.text--s {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 24.51px;
}

.title-with-arrow {
    display: flex;
    gap: 7px;
}

.title-with-arrow::after {
    content: '';
    background-image: url(/images/right-arrows.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Header Component */
.header-menu {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.header-menu li:first-child {
    background-image: url("/wp-content/uploads/2024/06/house.png");
    background-repeat: no-repeat;
    background-size: 19px 18px;
    width: 19px;
    height: 18px;
}

.header-menu li:first-child a {
    visibility: hidden
}

.wp-block-polylang-language-switcher {
    padding: 0px !important;
}

.nav-container {
    margin-top: 32px;

}

/* Text Classes */
.text-small {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 41px; */
}

.footer-heading {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px;
}

html[lang="ar"] .footer-heading {
    text-align: right !important;
}

/* Utility Classes */
.gap-0 {
    gap: 0px;
}

.align-items-start {
    align-items: flex-start !important;
}

.dir-rtl {
    direction: rtl;
}

.swiper-slide .wp-block-group {
    margin-left: 0px !important;
    padding: 0px;
}

html[lang="ar"] .swiper-slide .wp-block-group {
    margin-right: 0px !important;
    padding: 0px;
}

html[lang="ar"] .swiper-slide,
.swiper-slide .wp-block-cover__inner-container {
    padding-right: 0px;
}


header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    top: 0;
    background-color: transparent;
    background-image: none !important;
}

.swiper-slide .wp-block-cover__inner-container {
    margin-bottom: 36px !important;
}

html[lang="ar"] .swiper-slide .wp-block-cover__inner-container {
    margin-bottom: 100px !important;
}

html[lang="ar"] .swiper-pagination-horizontal {
    right: 0px !important;
    margin-right: 100px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    top: -64px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0px !important;
    margin-right: 21px;
}

html,
footer {
    margin-top: 0px !important;
}

@media (max-width: 768px) {

    .drop-reversed {
        width: 114px !important;
        height: 114px !important;
        right: 0px !important;
    }
}


/* Menu */
#mega-menu-wrap-max_mega_menu_2,
#mega-menu-wrap-max_mega_menu_2 #mega-menu-max_mega_menu_2>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_2 #mega-menu-max_mega_menu_2>li.mega-menu-item.mega-current-menu-ancestor>a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_2 #mega-menu-max_mega_menu_2>li.mega-menu-item.mega-current-page-ancestor>a.mega-menu-link {
    background: transparent;
}

#mega-menu-wrap-max_mega_menu_2 #mega-menu-max_mega_menu_2>li.mega-menu-item>a.mega-menu-link:hover,
#mega-menu-wrap-max_mega_menu_2 #mega-menu-max_mega_menu_2>li.mega-menu-item>a.mega-menu-link:focus {
    background: transparent;
}


/* Side Controller */
.scroll-to-div-wrap,
.home-scroll-block {
    position: fixed;
    right: 20px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 90;
}

.scroll-to-div-wrap ul {
    padding-right: 35px;
}

.scroll-to-div-wrap ul li em {
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    outline: 1.5px solid var(--gray-light);
}

.scroll-to-div-wrap ul li:nth-child(odd) em {
    background-color: var(--deep-navy);
}

.scroll-to-div-wrap ul li:nth-child(even) em {
    background-color: var(--gray-color);
}

.scroll-to-div-wrap ul li {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.scroll-to-div-wrap ul li+li {
    margin-top: 6px;
}

.scroll-to-div-wrap ul li span {
    min-width: 150px;
    position: absolute;
    right: calc(100% + 15px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    font-family: "Foco Bold", Sans-serif;
    padding: 8px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: inline-block;
    line-height: 1.15;
    border-radius: 14px 14px 0px 14px;
    background: var(--deep-blue);
}


.scroll-to-div-wrap ul li:hover span {
    opacity: 1;
    visibility: visible;
}

html[lang="ar"] .scroll-to-div-wrap,
.home-scroll-block {
    left: 20px;
    right: auto;
}

html[lang="ar"] .scroll-to-div-wrap ul {
    padding-left: 35px;
}

html[lang="ar"] .scroll-to-div-wrap ul li span {
    left: calc(100% + 15px);
    right: unset;
}

/* Animation */
.scroll-to-div-wrap ul li {
    cursor: pointer;
    transition: transform 300ms ease-out;
}

.scroll-to-div-wrap ul li.animated {
    transform: scale(1.05);
}