body {
    background: gray !important;
}

.page-wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
    min-width: 100% !important
}

header {
    padding: 32px 60px 0px;
}