@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}


@mixin atMobile {
  @media (max-width: 768px) {
    @content;
  }
}

body {
  font-family: 'OpenSans', sans-serif;
    margin: 0;
    padding: 0;
    color: #181818;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin:0;
}
