<!-- wp:template-part {"slug":"header","tagName":"header","theme":"Kafco-theme-1"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|x-large"}}},"backgroundColor":"foreground","className":"swt-block-page-banner-group main-inner-pages-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group swt-block-page-banner-group main-inner-pages-container has-foreground-background-color has-background"
    style="margin-top:0;margin-bottom:var(--wp--preset--spacing--x-large)">
    <!-- wp:group {"metadata":{"name":"ShortCode Placeholder"},"className":"main-content-container","layout":{"type":"constrained"}} -->
    <div class="wp-block-group "><!-- wp:post-content /--></div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"Kafco-theme-1"} /-->