<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|x-large"}}},"backgroundColor":"foreground","className":"swt-block-page-banner-group main-inner-pages-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group swt-block-page-banner-group main-inner-pages-container has-foreground-background-color has-background" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:shortcode -->
[kafco_login_form redirect="https://medevword.com/contract-summary"]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->